
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 40px;
    background-color: #3ba;
}


.header .contact {
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.header .contact .normal {
    display: flex;
    align-items: center;
    text-align: justify;
}

.header .contact .normal span {
    padding-left: 20px;
    font-size: 18px;
    color: #081ddb;
    color: #fff;
}

.header .contact .normal span .i {
    padding-right: 115px;
    font-size: 18px;
}

.header .contact .social-contact {
    display: flex;
    text-align: center;
    align-items: right;
}

.header .contact .social-contact a i {
    margin: 0 5px;
    padding: 6px 8px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50px;
    color: #f38609;
    transition: .42s;
}

.header .contact .social-contact a i:hover {
    background-color: #dd9a4c;
    color: #fff;
}




/**
*! Navbar
**/

#navbar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 0 8px #ccc;
}

.top-nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 22px;
    overflow: hidden;
    z-index: 1000;
    background-color: #fff;

}

.top-nav .navmenu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.top-nav .navmenu ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.top-nav .top-header a,
.top-nav .top-header a span {
    font-size: 29px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}

.top-nav .top-header a span {
    color: cadetblue;
}

.top-nav .navmenu ul li a {
    font-size: 18px;
    flood-color: #000;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 8px;
    margin-right: 8px;
}

.top-nav .navmenu ul li a:hover{
   color: #3ba3e6;
  }

.top-nav .top-icons {
    display: flex;
    text-align: center;
    align-items: center;
  }

.top-nav .top-icons i {
    font-size: 19px;
    padding-left: 19px;
    cursor: pointer;
    transition: .42s;
  }

.top-nav .top-icons i:hover{
    color: #3ba3e6;
    transform: scale(1.1);
  }

.top-nav #menuBar {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }


/*--------Main Menu---------*/

.main-menu {
    width: 100%;
    height: 100%;
    background-color: #f2f2f3;
}


.main-menu .menu-row {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    height: 700px;
}



.main-menu .menu-row .menu-col {
    position: relative;
    top: 200px;
    left: 25px;
}


.main-menu .menu-row .menu-col .shop-btn {
    background:#a15a09;
    color: #f2f2f3;
    font-size: 18px;
    font-weight: 22px;
    border-color: #a15a09;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    transition: .42s;
    padding: 12px 50px;
}

.main-menu .menu-row img {
    width: 550px;
    height: 600px;
    left: 20%;
    position: relative;
}

.main-menu .menu-row .menu-col .shop-btn:hover {
    background-color: #2450e2;
    color: #fff;
    border: 1px solid #854c0b;
    transform: scale(1.1);
}

.main-menu .menu-row .menu-col h2 {
    font-size: 65px;
    color: #00a9;
}

.main-menu .menu-row .menu-col p {
    font-size: 18px;
    padding: 30px 0;
}


/**
*! Shop styles
**/

section {
    width: 100%;
    width: auto;
    padding: 30px 0;
    text-align: center;
}

#shop h2 {
    font-size: 34px;
    padding-top: 40px;
    text-align: center;
}

#shop p {
    padding-top: 30px 440px;
    text-align: center;
}

.items-row {
    width: 67%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.items-row .items-col {
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    width: 300px
}

.items-row .items-col .item-img {
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
}

.items-row .items-col .item-img img {
    width: 99%;
    height: 100%;
}

.items-row .items-col .item-img .card{
    width: 300px;
    background: green;
    color: #ffff;
    padding: 9px 0;
    height: 0;
    font-size: 18px;
    display: none;
    cursor: pointer;
    transition: 0.42s;
}

.items-row .items-col:hover .item-img .card {
    height: 50px;
    display: inline-block;
}

.content {
    border-top: 2px solid #000;
    margin-top: -4px;
    padding: 10px 0;
    text-align: center;
}

.items-row .items-col .content h4 {
    font-size: 20px;
    color: #000;   
}

.items-row .items-col .content span {
    color: #d12222;
    font-weight: 500;font-size: 18px;
}


.shop-btn {
    background:red;
    color: #ffff;
    font-size: 20px;
    font-weight: 550px;
    border: none;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    transition: .42s;
    padding: 12px 50px;
}
.shop-btn:hover {
    background-color: #0c1db6;
}


.sticky {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.sticky + setion {
    padding-top: 60px;
}

/*------- Cart list -----*/
#cart h2 {
    text-align: center;
    padding-top: 70px;
    font-size: 34px;
    padding-bottom: 30px;
    margin-top: 40px;
    color: #000;
}

.cart-row {
    width: 67%;
    margin: 0 auto;
}

.cart-row .cart-col {
    padding-top: 30px;
    text-align: left;
}

.cart-row .cart-col table {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    height: 600px;
}

.cart-row .cart-col table  tr td {
    padding: 8px 0;
    font-size: 18px;
    color: #000;
}

.cart-row .cart-col table  tr td .cart-image {
    display: flex;
    align-items: center;
    text-align: middle;
}

.cart-row .cart-col table  tr td .cart-image  img {
    width: 180px;
    padding-right: 20px;
}

.cart-row .cart-col table  tr td input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-indent: 20px;
    margin-left: 20px;
}

.cart-row .cart-col table  tr td button {
    padding: 9px 30px;
    font-size: 18px;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    transition: .42s;
}

.update-cart {
    background: green;
    border-color: green;  
}

.close-cart {
    background: red;
    border-color: red;  
}

.cart-row .cart-col table  tr td button:hover {
    background-color: #070be7;
    border: 1px solid #070be7;
}



/* -----Login---- */
.login-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 67%;
    margin: 0 auto;
    height: auto;
    grid-gap: 20px;
    padding: 40px 0;
}

.login-row .login-col {
    height: 80vh;
}

.login-row .login-col.login-part_one {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(23,131,220,0.5));
}


.login-row .login-col .login-content {
    position: relative;
    top: 25%;
    text-align: center;
    padding: 35px;
}

.login-row .login-col .login-content h3{
    font-size: 24px;
    color:#fff;
    padding: 10px;
}

.login-row .login-col .login-content p{
    color: #fff;
    padding-bottom: 35px;
}


.login-row .login-col .login-content .register-btn {
    padding: 12px 30px;
    font-size: 17px;
    color: #fff;
    border: 1px solid #ffff;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: .42s;
}

.login-row .login-col .login-content .register-btn:hover {
    background-color: #2450e2;
}

.login-row .login-col.login-part_two {
    padding: 40px 20px;
    text-align: justify;
}

.login-row .login-col.login-part_two .login-header {
    padding: 20px 0;
    font-size: 20px;
    color: #000;
}


.login-row .login-col.login-part_two .login-details input[type="text"],
.login-row .login-col.login-part_two .login-details input[type="password"],
.login-row .login-col.login-part_two .login-details button {
    width: 100%;
    font-size: 18px;
    padding: 14px;
    margin-top: 20px;
    color: #000;
}

.login-row .login-col.login-part_two .login-details input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.login-row .login-col.login-part_two .login-details input[type="password"] {
    margin-bottom: 16px;
}

.login-row .login-col.login-part_two .login-details button {
    border: 1px solid #3e61d6;
    margin-bottom: 10px;
    color: #3a5bc9;
    background: transparent;
    cursor: pointer;
    transition: .42s;
}

.login-row .login-col.login-part_two .login-details button:hover {
    color: #ffff;
    background-color: #2450e2;
}

.forgot {
    color: #3ba3e6;
    cursor: pointer;
}




/* --------contact-------- */

#contact h1{
    font-size: 32px;
    color: #000;
    padding-bottom: 50px;
}



.contact-row {
    width: 67%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    text-align: justify;
}


.contact-row .contact-col table {
    width: 550px;
}

.contact-row .contact-col textarea,
.contact-row .contact-col input {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
}

.send-btn {
    padding: 9px 60px;
    margin-top: 30px;
    background: #f38404;
    border: 1px solid #f38404;
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
    transition: .42s;
}


.contact-row .contact-col .send-btn:hover {
    background-color: #3ba3e6;
    border: 1px solid #3ba3e6;
}

.contact-row .contact-col .contact-details {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-row .contact-col .contact-details .fa{
    font-size: 30px;
    margin-right: 10px;
}

.contact-row .contact-col .contact-details h4 {
    font-style: 18px;
    color: #0c1db6;
    line-height: 20px;
    padding-top: 15px;
}


/*---- footer ----*/
.footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #000;
    padding: 60px 0;
    background-color: #797272;
}

@media (max-width: 1000px) {
    /* -----popular items---- */
    .item-row{
        width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #shop p {
        padding: 30px 240px;
    }
}

@media (max-width: 990px) {
    .main-menu .mail-row .main-col{
        top: 10%;
    }

    .main-menu .main-row img {
        left: 35%;
        width: 200px;
    }

    .main-menu .mail-row .main-col h2 {
        font-size: 52px;
    }

    .main-menu .mail-row .main-col p {
        font-style: 15px;
        padding: 20px 0;
    }

    .main-menu .mail-row .main-col .shop-btn {
        padding: 10px 40px;
    }

    /* -----popular items---- */
    .items-row {
        width: 75%;
        grid-template-columns: 1fr 1fr;
    }

    .cart-row .cart-col table tr td .cart-image {
        display: block;
    }

    /* ------ cart list----- */
    .cart-row .cart-col table tr td input {
        width: 30px;
        height: 30px;
        font-size: 18px;
        text-indent: 10px;
    }

    .cart-row .cart-col table tr td .cart-image img {
        display: block;
    }

    /* ------ login ------ */
    .login-row .login-col.login-col.login-part_two {
        padding: 10px 20px;
    }

    .login-row .login-col.login-col.login-part_two .login-header{
        padding: 10px 0;
        font-size: 16px;
    }

    .login-row .login-col.login-part_two .login-details input[type="text"],
    .login-row .login-col.login-part_two .login-details input[type="password"],
    .login-row .login-col.login-part_two .login-details button {
    font-size: 16px;
    }

    .login-row {
        width: 80px;
    }

    /* -----contact----- */
    .contact-row .contact-col table {
        width: 380px;
    }
}

@media(max-width:780){
    .main-menu .main-row img {
        left: 35%;
        width: 170px;
    }

    .main-menu .main-row .main-col h2 {
        font-size: 38px;
    }

    .main-menu .main-row .shop-btn {
        padding: 10px 40px;
        font-size: 16px;
    }

    .top-nav .navmenu {
        display: block;
        position: fixed;
        right: 0;
        top: 16.5%;
        width: 240px;
        height: 100vh;
        border: 1px solid #ffff;
        border-color: #ffff;
        overflow: hidden;
        z-index: 1000;
    }


    .top-nav .navmenu.open {
        right: 0;
    }

    .top-nav .top-navbar ul {
        display: block;
        margin: 30px 0;
    }

    .top-nav .top-navbar ul li {
        margin-top: 30px;
    }

    .top-nav .top-icons i {
        position: relative;
        left: 32%;
    }

    .top-nav #menuBar {
        display: block;
    }

    .header .contact .normal {
        display: none;
    }
}